<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=64) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-author">
                <a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }} {% if post.author.name %} ({{ post.author.name }}){% endif %}</a>
                {% if post.author.location and (not show_followed ) %}
                    <span class="label label-info">{{ post.author.location_name() }}</span>
                {% endif %}
            </div>
            <div class="post-footer">
                <span class="post-date"> {{ moment(post.timestamp).fromNow() }} | </span>
                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}" class="btn btn-raised btn-primary">
                    <i class="material-icons">create</i>
                    编辑
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}" class="btn btn-raised btn-warning">
                    编辑 <del>(施展权限汪之禁术)</del>
                </a>
                {% endif %}
                <a href="{{ url_for('.post', id=post.id) }}" class="btn btn-raised btn-default">
                    <i class="material-icons">link</i>
                    链接到此页
                </a>
                <a href="{{ url_for('.post', id=post.id) }}#comments" class="btn btn-raised btn-primary">
                    <i class="material-icons">mode_comment</i>
                    {{ post.comments.count() }} 条留言
                </a>
            </div>
            <br />
            <div class="progress">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
            <div class="post-body">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
