{% import "_macros.html" as macros %}
{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}计算机精英协会{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {%- endblock metas %}

    {%- block styles %}
    <link rel="stylesheet" href="https://fonts.proxy.ustclug.org/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.proxy.ustclug.org/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/materialize.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a href="{{ url_for('main.index') }}" class="brand-logo">&nbsp;Celitea
                <small class="hide-on-med-and-down">
                    {% block welcome %}
                    哈喽，{% if current_user.is_authenticated %}
                            {{ current_user.name or current_user.username}}(σ≧∀≦)σ
                         {% else %}
                            新朋友 ~(>_<~)
                         {% endif %}
                         !
                    {% endblock %}
                </small>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://celitea.cn"><i class="material-icons left">home</i> 社团首页</a></li>
                {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('main.register') }}"><i class="material-icons left">assignment</i> 报名</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <ul class="dropdown-content" id="dropdown">
                    <li>
                        <a href="" class="valign-wrapper">
                            <img class="responsive-img" src="{{ current_user.gravatar() }}">
                            <span class="valign">
                                {{current_user.username}}&nbsp;&nbsp;{{("("+current_user.name+")") if current_user.name}}
                            </span>
                        </a>
                    </li>
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">个人资料</a></li>
                    <li><a href="{{ url_for('auth.change_password') }}">更改密码</a></li>
                    <li><a href="{{ url_for('auth.change_email_request') }}">更改邮件地址</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">注销……</a></li>
                </ul>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown">
                {{current_user.username}}&nbsp;&nbsp;({{current_user.name or "?"}})<i class="material-icons right">arrow_drop_down</i></a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}"><i class="material-icons left">lock</i> 登录</a></li>
                {% endif %}
            </ul>
            <ul id="slide-out" class="side-nav">
                <li>
                    <a href="javascript:$('.button-collapse').sideNav('hide');"><i class="material-icons">clear</i>
                        哈喽，{% if current_user.is_authenticated %}
                             {{ current_user.name or current_user.username}} ~
                             {% else %}
                             新朋友 ~
                             {% endif %}
                    </a>
                </li>
                <li>
                    <a href="https://celitea.cn">
                        {% if current_user.is_authenticated %}
                             (σ≧∀≦)σ
                             {% else %}
                             ~(>_<~)
                        {% endif %}
                    </a>
                </li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">
                    <i class="material-icons left">assignment_ind</i>个人资料</a></li>
                <li><a href="{{ url_for('auth.change_password') }}">更改密码</a></li>
                <li><a href="{{ url_for('auth.logout') }}"><i class="material-icons">exit_to_app</i> 注销……</a></li>
                {% else %}
                <li><a href="{{ url_for('main.register') }}"><i class="material-icons left">assignment</i> 报名</a></li>
                <li><a href="{{ url_for('auth.login') }}"><i class="material-icons right">lock</i> 登录</a></li>
                {% endif %}
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    {%- endblock navbar %}
    <div class="container">
        <div class="row">
            <div class="quotes"></div>
        {% block content -%}

            {% block page_content %}

            {% endblock %}
        {%- endblock content %}
        </div>
    </div>
    {% block scripts %}
    <!--    Scripts     -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.rss.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
    <script>
    {% for message in get_flashed_messages() %}
        Materialize.toast('{{ message }}', 4000);
    {% endfor %}
    </script>
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
