{% extends "base.html" %}
{% import "_wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="row contents">
        <div class="col s12 m8 l8">
            <div class="card">
                <div class="card-stacked">
                    <div class="card-content">
                        <p>没错这里就是还在建设中……</p>
                    </div>
                    <div class="card-action">
                      <a href="https://github.com/Tust-Celitea/celitea_portal">(╯・Д・)╯ ┻━┻ 戳这里 pia 网站的设计者~</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col s12 m8 l4">
            <div class="card teal hoverable">
                <div class="card-content white-text">
                    <span class="card-title">
                        社团的日记本
                    </span>
                    <div id="feeds-blog">
                    </div>
                </div>
            </div>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">社团论坛</span>
                    <div id="feeds-forum">
                    </div>
                <div class="card-action">
                    <a href="https://forum.celitea.xyz">传送门在此~</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/init.main.js') }}"></script>
{{ pagedown.include_pagedown() }}
{% endblock %}
